*.pfx
MissionPlanner-master/*.suo
MissionPlanner-master/*.user
MissionPlanner-master/bin/
MissionPlanner-master/obj/
MissionPlanner-master/CustomImages
MissionPlanner-master/APMPlannerXplanes/APMPlannerXplanes/Debug
MissionPlanner-master/APMPlannerXplanes/Debug
MissionPlanner-master/Driver/makecert.exe
MissionPlanner-master/Drivers/gencert.bat
MissionPlanner-master/Drivers/int2cat.bat
MissionPlanner-master/Drivers/makecert.exe
MissionPlanner-master/Drivers/signing.url
MissionPlanner-master/Msi
MissionPlanner-master/packages
MissionPlanner-master/*.psess
MissionPlanner-master/copy.bat
MissionPlanner-master/macos.bat
MissionPlanner-master/logo.png
MissionPlanner-master/*.vsp
MissionPlanner-master/sitl
MissionPlanner-master/cov-int
MissionPlanner-master/*.pyc
MissionPlanner-master/*.ncrunchproject
MissionPlanner-master/*.crunchsolution.cache
MissionPlanner-master/*.ncrunchsolution
MissionPlanner-master/Plugins/AltitudeAngelWings/AltitudeAngelWings/Keys.config
MissionPlanner-master/ExtLibs/Mavlink/Mavlink.cs
MissionPlanner-master/ExtLibs/Mavlink/mavlink
MissionPlanner-master/LogAnalyzer/LogAnalyzer.zip
MissionPlanner-master/LogAnalyzer/py2exe/dist
MissionPlanner-master/LogAnalyzer/py2exe/build
MissionPlanner-master/LogAnalyzer/LogAnalyzer64.zip
MissionPlanner-master/gstream
MissionPlanner-master/MissionPlanner.appx
MissionPlanner-master/AltitudeAngelWings.sln
MissionPlanner-master/appxkey.cer
MissionPlanner-master/ExtLibs/Portable/Portable
MissionPlanner-master/ExtLibs/AltitudeAngelWings/Keys.config
MissionPlanner-master/MissionPlannerBeta.zip
MissionPlanner-master/*.vspx
MissionPlanner-master/ExtLibs/Android
MissionPlanner-master/ExtLibs/w3w
MissionPlanner-master/ExtLibs/java
MissionPlanner-master/ExtLibs/netcore
MissionPlanner-master/.vs
MissionPlanner-master/ExtLibs/Zeroconf
MissionPlanner-master/ExtLibs/GMap.NET.Core/GMap.NET.Core2.csproj
MissionPlanner-master/ExtLibs/GDAL/GDAL2.csproj
MissionPlanner-master/ExtLibs/Core/Core2.csproj
MissionPlanner-master/ExtLibs/Comms/MissionPlanner.Comms2.csproj
MissionPlanner-master/ExtLibs/BaseClasses/BaseClasses2.csproj
MissionPlanner-master/ExtLibs/AviFile/AviFile2.csproj
MissionPlanner-master/ExtLibs/Arduino/Arduino2.csproj
MissionPlanner-master/ExtLibs/GeoUtility/GeoUtility2.csproj
MissionPlanner-master/MissionPlanner2.csproj
MissionPlanner-master/ExtLibs/Mavlink/MAVLink2.csproj
MissionPlanner-master/ExtLibs/Utilities/MissionPlanner.Utilities2.csproj